<div id="logdata-form">
	<section>
		<form class="it-forms" method="POST" action="">
			<table id="freeze-fieldset">
				<thead>
					<tr style="border: none; font-weight: bold;">
						<td><span>Technical Block Equipment Room Check List:</span></td>
					</tr>
				</thead>
				<tbody style="height: 67vh;">
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Inspection Information</legend>
								<table>
									<thead></thead>
									<tbody>
										<tr>
											<td>
												Inspector:
											</td>
											<td>
												<input style="text-transform: none;" id="tech_block inspector" type="text" name="tech_block inspector" value="{{result['tech_block_inspector']}}" size="15"/>
											</td>
										</tr>
										<tr>
											<td>
												Time:
											</td>
											<td>
												<input type="time" name="tech_block inspection_time" value="{{result['tech_block_inspection_time']}}"/>
											</td>
										</tr>
										<tr>
											<td>
												Remark:
											</td>
											<td colspan="2">
												<textarea style="width:500px; height:40px; font-size:15px; direction: ltr;" name="tech_block remark">{{result['tech_block_remark']}}</textarea>
											</td>
										</tr>
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>UPS</legend>
								<table>
									<thead></thead>
									<tbody>
										{% for item in tech_block_ups %}
											<tr>
												<td>
													{{item}}:
												</td>
												{% if result['tech_block_ups'] %}
													<td>
							              				{% if result['tech_block_ups'][item]['status'] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
											        	{% if result['tech_block_ups'][item]['status'] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
						              					<label style="display:inline-block;"><input type="radio" name="{{'tech_block '+item}}" value="On" {% if result['tech_block_ups'][item]['status'] %}{{on_ck}}{%else%}checked{% endif %}/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'tech_block '+item}}" value="Off" {{off_ck}}/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'tech_block '+item}} remark">{{result['tech_block_ups'][item]['remark']}}</textarea>
													</td>
												{% else %}
													<td>
						              					<label style="display:inline-block;"><input type="radio" name="{{'tech_block '+item}}" value="On" checked/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'tech_block '+item}}" value="Off"/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'tech_block '+item}} remark"></textarea>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Rack (1)</legend>
								<table>
									<thead></thead>
									<tbody>
										{% for item in tech_block_rack_1 %}
											<tr>
												<td>
													{{item}}:
												</td>
												{% if result['tech_block_rack_1'] %}
													<td>
							              				{% if result['tech_block_rack_1'][item]['status'] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
											        	{% if result['tech_block_rack_1'][item]['status'] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
						              					<label style="display:inline-block;"><input type="radio" name="{{'tech_block '+item}}" value="On" {% if result['tech_block_rack_1'][item]['status'] %}{{on_ck}}{%else%}checked{% endif %}/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'tech_block '+item}}" value="Off" {{off_ck}}/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'tech_block '+item}} remark">{{result['tech_block_rack_1'][item]['remark']}}</textarea>
													</td>
												{% else %}
													<td>
						              					<label style="display:inline-block;"><input type="radio" name="{{'tech_block '+item}}" value="On" checked/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'tech_block '+item}}" value="Off"/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'tech_block '+item}} remark"></textarea>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
				</tbody>
			</table>
			<div style="margin:12px 0 0 15px;">
				<input style="text-transform: none;" type="submit" value="Save" /> 
			</div>
		</form>
	</section>
</div>