<div id="logdata-form">
	<section>
		<form class="it-forms" method="POST" action="">
			<table id="freeze-fieldset">
				<thead>
					<tr style="border: none; font-weight: bold;">
						<td><span>Office Building Equipment Room Check List:</span></td>
					</tr>
				</thead>
				<tbody style="height: 67vh;">
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Inspection Information</legend>
								<table>
									<thead></thead>
									<tbody>
										<tr>
											<td>
												Inspector:
											</td>
											<td>
												<input style="text-transform: none;" id="office_bld inspector" type="text" name="office_bld inspector" value="{{result['office_bld_inspector']}}" size="15"/>
											</td>
										</tr>
										<tr>
											<td>
												Time:
											</td>
											<td>
												<input type="time" name="office_bld inspection_time" value="{{result['office_bld_inspection_time']}}"/>
											</td>
										</tr>
										<tr>
											<td>
												Remark:
											</td>
											<td colspan="2">
												<textarea style="width:500px; height:40px; font-size:15px; direction: ltr;" name="office_bld remark">{{result['office_bld_remark']}}</textarea>
											</td>
										</tr>
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Cooling & UPS</legend>
								<table>
									<thead></thead>
									<tbody>
										{% for item in office_bld_cooling %}
											<tr class="ch-rows">
												<td>
													{{item}}:
												</td>
												{% if result['office_bld_cooling'] %}
													<td>
							              				{% if result['office_bld_cooling'][item]['status'] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
											        	{% if result['office_bld_cooling'][item]['status'] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
						              					<label style="display:inline-block;"><input type="radio" name="{{'office_bld '+item}}" value="On" {% if result['office_bld_cooling'][item]['status'] %}{{on_ck}}{%else%}checked{% endif %}/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'office_bld '+item}}" value="Off" {{off_ck}}/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'office_bld '+item}} remark">{{result['office_bld_cooling'][item]['remark']}}</textarea>
													</td>
												{% else %}
													<td>
						              					<label style="display:inline-block;"><input type="radio" name="{{'office_bld '+item}}" value="On" checked/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'office_bld '+item}}" value="Off"/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'office_bld '+item}} remark"></textarea>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Rack (1)</legend>
								<table>
									<thead></thead>
									<tbody>
										{% for item in office_bld_rack_1 %}
											<tr class="ch-rows">
												<td>
													{{item}}:
												</td>
												{% if result['office_bld_rack_1'] %}
													<td>
							              				{% if result['office_bld_rack_1'][item]['status'] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
											        	{% if result['office_bld_rack_1'][item]['status'] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
						              					<label style="display:inline-block;"><input type="radio" name="{{'office_bld '+item}}" value="On" {% if result['office_bld_rack_1'][item]['status'] %}{{on_ck}}{%else%}checked{% endif %}/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'office_bld '+item}}" value="Off" {{off_ck}}/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'office_bld '+item}} remark">{{result['office_bld_rack_1'][item]['remark']}}</textarea>
													</td>
												{% else %}
													<td>
						              					<label style="display:inline-block;"><input type="radio" name="{{'office_bld '+item}}" value="On" checked/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'office_bld '+item}}" value="Off"/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'office_bld '+item}} remark"></textarea>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Arrival Terminal FIDS System</legend>
								<table>
									<thead></thead>
									<tbody>
										{% for item in fids_system %}
											<tr>
												<td>
													{{item}}:
												</td>
												{% if result['office_bld_fids_system'] %}
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'office_bld '+item}} remark">{{result['office_bld_fids_system'][item]['remark']}}</textarea>
													</td>
												{% else %}
													<td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'office_bld '+item}} remark"></textarea>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
				</tbody>
			</table>
			<div style="margin:12px 0 0 15px;">
				<input style="text-transform: none;" type="submit" value="Save" />
				{% if 'edit' in request.base_url %}
					<a href="/it logs/{{log_no}}/info/edit" class="button" style="background-color: #f3f3f3;">Back</a>
				{% endif %}
			</div>
		</form>
	</section>
</div>