<div id="logdata-form">
	<section>
		<form class="it-forms" method="POST" action="">
			<table id="freeze-fieldset">
				<thead>
					<tr style="border: none; font-weight: bold;">
						<td><span>Technical Block Equipment Room Check List:</span></td>
					</tr>
				</thead>
				<tbody style="height: 67vh;">
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Inspection Information</legend>
								<table>
									<thead></thead>
									<tbody>
										<tr>
											<td>
												Inspector:
											</td>
											<td>
												<input id="tech_block inspector" type="text" name="tech_block inspector" value="{{result['tech_block inspector']}}" size="15"/>
											</td>
										</tr>
										<tr>
											<td>
												Time:
											</td>
											<td>
												<input type="time" name="tech_block inspection_time" value="{{result['tech_block inspection_time']}}"/>
											</td>
										</tr>
										<tr>
											<td>
												Remark:
											</td>
											<td colspan="2">
												<textarea style="width:500px; height:40px; font-size:15px; direction: ltr;" name="tech_block fiber optic remark">{{result['tech_block fiber optic remark']}}</textarea>
											</td>
										</tr>
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>UPS</legend>
								<table>
									<thead></thead>
									<tbody>
										{% for item in [
											'UPS Power Ware 9130-3KVA'
											] %}
											<tr>
												<td>
													{{item}}:
												</td>
												<td>
						              				{% if result['tech_block '+item] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
										        	{% if result['tech_block '+item] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
					              					<label style="display:inline-block;"><input type="radio" name="{{'tech_block '+item}}" value="Day" {% if result['tech_block '+item] %}on_ck{%else%}checked{% endif %}/>On</label>
													<label style="display:inline-block;"><input type="radio" name="{{'tech_block '+item}}" value="Night" {{off_ck}}/>Off</label>
										        </td>
										        <td>
													<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'tech_block '+item}} remark">{{result['tech_block '+item+' remark']}}</textarea>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Rack (1)</legend>
								<table>
									<thead></thead>
									<tbody>
										{% for item in [
											'Cisco Switch 2960-24TC-L'
											] %}
											<tr>
												<td>
													{{item}}:
												</td>
												<td>
						              				{% if result['tech_block '+item] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
										        	{% if result['tech_block '+item] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
					              					<label style="display:inline-block;"><input type="radio" name="{{'tech_block '+item}}" value="Day" {% if result['tech_block '+item] %}on_ck{%else%}checked{% endif %}/>On</label>
													<label style="display:inline-block;"><input type="radio" name="{{'tech_block '+item}}" value="Night" {{off_ck}}/>Off</label>
										        </td>
										        <td>
													<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'tech_block '+item}} remark">{{result['tech_block '+item+' remark']}}</textarea>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
				</tbody>
			</table>
			<div style="margin:12px 0 0 15px;">
				<input style="text-transform: none;" type="submit" value="Save" /> 
			</div>
		</form>
	</section>
</div>