<div id="logdata-form">
	<section>
		<form class="it-forms" method="POST" action="">
			<table id="freeze-fieldset">
				<thead>
					<tr style="border: none; font-weight: bold;">
						<td><span>Data Center Check List:</span></td>
					</tr>
				</thead>
				<tbody style="height: 67vh;">
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Inspection Information</legend>
								<table>
									<thead></thead>
									<tbody>
										<tr>
											<td>
												Inspector:
											</td>
											<td>
												<input style="text-transform: none;" id="dc inspector" type="text" name="dc inspector" value="{{result['data_center_inspector']}}" size="15"/>
											</td>
										</tr>
										<tr>
											<td>
												Time:
											</td>
											<td>
												<input type="time" name="dc inspection_time" value="{{result['data_center_inspection_time']}}"/>
											</td>
										</tr>
										<tr>
											<td>
												Remark:
											</td>
											<td colspan="2">
												<textarea style="width:500px; height:40px; font-size:15px; direction: ltr;" name="dc remark">{{result['data_center_remark']}}</textarea>
											</td>
										</tr>
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Cooling</legend>
								<table>
									<thead></thead>
									<tbody>
										<tr>
											<td>
												Room Temperature:
											</td>
											<td>
												<input id="dc room_temp" type="text" name="dc room_temp" value="{{result['data_center_room_temp']}}" size="7"/>
											</td>
										</tr>
										{% for item in data_center_cooling %}
											<tr class="ch-rows">
												<td>
													{{item}}:
												</td>
												{% if result['data_center_cooling'] %}
													<td>
							              				{% if result['data_center_cooling'][item]['status'] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
											        	{% if result['data_center_cooling'][item]['status'] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" {% if result['data_center_cooling'][item]['status'] %}{{on_ck}}{%else%}checked{% endif %}/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off" {{off_ck}}/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark">{{result['data_center_cooling'][item]['remark']}}</textarea>
													</td>
												{% else %}
													<td>
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" checked/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off"/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark"></textarea>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Server Rack</legend>
								<table>
									<thead></thead>
									<tbody>
										{% for item in data_center_server_rack %}
											<tr class="ch-rows">
												<td>
													{{item}}:
												</td>
												{% if result['data_center_server_rack'] %}
													<td>
							              				{% if result['data_center_server_rack'][item]['status'] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
											        	{% if result['data_center_server_rack'][item]['status'] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" {% if result['data_center_server_rack'][item]['status'] %}{{on_ck}}{%else%}checked{% endif %}/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off" {{off_ck}}/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark">{{result['data_center_server_rack'][item]['remark']}}</textarea>
													</td>
												{% else %}
													<td>
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" checked/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off"/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark"></textarea>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Switching Rack</legend>
								<table>
									<thead></thead>
									<tbody>
										{% for item in data_center_switching_rack %}
											<tr class="ch-rows">
												<td>
													{{item}}:
												</td>
												{% if result['data_center_switching_rack'] %}
													<td>
							              				{% if result['data_center_switching_rack'][item]['status'] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
											        	{% if result['data_center_switching_rack'][item]['status'] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" {% if result['data_center_switching_rack'][item]['status'] %}{{on_ck}}{%else%}checked{% endif %}/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off" {{off_ck}}/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark">{{result['data_center_switching_rack'][item]['remark']}}</textarea>
													</td>
												{% else %}
													<td>
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" checked/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off"/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark"></textarea>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Fiber Optic Rack</legend>
								<table>
									<thead></thead>
									<tbody>
										{% for item in data_center_fiber_optic_rack %}
											<tr class="ch-rows">
												<td>
													{{item}}:
												</td>
												{% if result['data_center_fiber_optic_rack'] %}
													<td>
							              				{% if result['data_center_fiber_optic_rack'][item]['status'] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
											        	{% if result['data_center_fiber_optic_rack'][item]['status'] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" {% if result['data_center_fiber_optic_rack'][item]['status'] %}{{on_ck}}{%else%}checked{% endif %}/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off" {{off_ck}}/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark">{{result['data_center_fiber_optic_rack'][item]['remark']}}</textarea>
													</td>
												{% else %}
													<td>
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" checked/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off"/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark"></textarea>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
										<tr>
											<td>
												No Active Equipment
											</td>
											{% if result['data_center_no_active_equipment'] %}
												<td>
													<input type="checkbox" name="dc No Active Equipment" value="No Active Equipment" {% if 'No Active Equipment' in result['data_center_no_active_equipment'] %}checked{% endif %} />
												</td>
											{% else %}
												<td>
													<input type="checkbox" name="dc No Active Equipment" value="No Active Equipment"/>
												</td>
											{% endif %}
										</tr>
										<tr>
											<td>
												Remark:
											</td>
											<td colspan="2">
												<textarea style="width:500px; height:50px; font-size:15px; direction: ltr;" name="dc fiber optic remark">{{result['data_center_fiber_optic_remark']}}</textarea>
											</td>
										</tr>
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Transmission Rack</legend>
								<table>
									<thead></thead>
									<tbody>
										{% for item in data_center_transmission_rack %}
											<tr class="ch-rows">
												<td>
													{{item}}:
												</td>
												{% if result['data_center_transmission_rack'] %}
													<td>
							              				{% if result['data_center_transmission_rack'][item]['status'] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
											        	{% if result['data_center_transmission_rack'][item]['status'] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" {% if result['data_center_transmission_rack'][item]['status'] %}{{on_ck}}{%else%}checked{% endif %}/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off" {{off_ck}}/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark">{{result['data_center_transmission_rack'][item]['remark']}}</textarea>
													</td>
												{% else %}
													<td>
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" checked/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off"/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark"></textarea>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Communication Rack</legend>
								<table>
									<thead></thead>
									<tbody>
										{% for item in data_center_communication_rack %}
											<tr class="ch-rows">
												<td>
													{{item}}:
												</td>
												{% if result['data_center_communication_rack'] %}
													<td>
							              				{% if result['data_center_communication_rack'][item]['status'] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
											        	{% if result['data_center_communication_rack'][item]['status'] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" {% if result['data_center_communication_rack'][item]['status'] %}{{on_ck}}{%else%}checked{% endif %}/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off" {{off_ck}}/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark">{{result['data_center_communication_rack'][item]['remark']}}</textarea>
													</td>
												{% else %}
													<td>
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" checked/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off"/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark"></textarea>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Power Room</legend>
								<table>
									<thead></thead>
									<tbody>
										<tr>
											<td>
												Room Tempreture:
											</td>
											<td>
												<input id="dc power_room_temp" type="text" name="dc power_room_temp" value="{{result['data_center_power_room_temp']}}" size="7"/>
											</td>
										</tr>
										{% for item in data_center_power_room %}
											<tr class="ch-rows">
												<td>
													{{item}}:
												</td>
												{% if result['data_center_power_room'] %}
													<td>
							              				{% if result['data_center_power_room'][item]['status'] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
											        	{% if result['data_center_power_room'][item]['status'] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" {% if result['data_center_power_room'][item]['status'] %}{{on_ck}}{%else%}checked{% endif %}/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off" {{off_ck}}/>Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark">{{result['data_center_power_room'][item]['remark']}}</textarea>
													</td>
												{% else %}
													<td>
						              					<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="On" checked/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{'dc '+item}}" value="Off" />Off</label>
											        </td>
											        <td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{'dc '+item}} remark"></textarea>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td>
							<fieldset style="max-height: 26vh;">
			            		<legend>Antivirus Check List</legend>
			            		<table id="freeze-table">
			            			<thead>
					            		<tr style="background: yellow;">
					            			<th>
								             	<span>Computer Name</span>
									        </th>
									        <th>
								             	<span>Username</span>
									        </th>
					            			<th>
								            	<span>Found Viruses & Remark</span>
									        </th>
									        <th style="width:60px;"></th>
									    </tr>
								    </thead>
								    <tbody style="height: 18vh;">
								    	{% if result['data_center_antivirus'] and result['data_center_antivirus']['com_name'] %}
								    		{% for i in range(result['data_center_antivirus']['com_name']|length) %}
										    	<tr id="antivirus_ck_list{{i+1}}">
											    	<td>
														<input style="text-transform: none;" type="text" name="dc com_name_{{i+1}}" value="{{result['data_center_antivirus']['com_name'][i]}}" size="15"/>
													</td>
													<td>
														<input style="text-transform: none;" type="text" name="dc username_{{i+1}}" value="{{result['data_center_antivirus']['username'][i]}}" size="15"/>
													</td>
													<td>
														<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="dc antevirus_remark_{{i+1}}">{{result['data_center_antivirus']['remark'][i]}}</textarea>
													</td>
													<td style="width:10px;" id="last_child">
							              				<a href="javascript:addAntivirusCkListRow('antivirus_ck_list{{i+1}}','del')" title="delete" class="add-box" style="padding: 3px 7px; color: red;"> - </a>
							              			</td>
							              			<td style="width:10px;" id="last_child">
							              				<a href="javascript:addAntivirusCkListRow('antivirus_ck_list{{i+1}}', 'add')" title="add new" class="add-box"> + </a>
							              			</td>
							              		</tr>
							              	{% endfor %}
					              		{% else %}
					              			<tr id="antivirus_ck_list1">
										    	<td>
													<input style="text-transform: none;" type="text" name="dc com_name_1" size="15"/>
												</td>
												<td>
													<input style="text-transform: none;" type="text" name="dc username_1" size="15"/>
												</td>
												<td>
													<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="dc antevirus_remark_1"></textarea>
												</td>
												<td style="width:10px;" id="last_child">
						              				<a href="javascript:addAntivirusCkListRow('antivirus_ck_list1','del')" title="delete" class="add-box" style="padding: 3px 7px; color: red;"> - </a>
						              			</td>
						              			<td style="width:10px;" id="last_child">
						              				<a href="javascript:addAntivirusCkListRow('antivirus_ck_list1', 'add')" title="add new" class="add-box"> + </a>
						              			</td>
						              		</tr>
					              		{% endif %}
					              	</tbody>
					            </table>
					        </fieldset>
					    </td>
					</tr>
				</tbody>
			</table>
			<div style="margin:12px 0 0 15px;">
				<input style="text-transform: none;" type="submit" value="Save" />
				{% if 'edit' in request.base_url %}
					<a href="/it logs/{{log_no}}/info/edit" class="button" style="background-color: #f3f3f3;">Back</a>
				{% endif %}
			</div>
		</form>
	</section>
</div>

<script type="text/javascript">
	{% if result['data_center_antivirus'] and result['data_center_antivirus']['com_name'] %}
		var l = [];
		var i = "{{ result['data_center_antivirus']['com_name']|length }}";
		{% for j in range(result['data_center_antivirus']['com_name']|length) %}
			l.push("antivirus_ck_list" + "{{j+1}}");
		{% endfor %}
		var i_list = l;
	{% else %}
		var i=1;
		var i_list = ["antivirus_ck_list1"];
	{% endif %}
	function addAntivirusCkListRow(id_name, action) {
	    var original = document.getElementById(id_name);
		var clone = original.cloneNode(true); // "deep" clone
		if (action == 'add'){
			clone.id = "antivirus_ck_list" + ++i;
			i_list.push(clone.id);
			var com_name = "com_name_"+id_name.substring(17, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(com_name, "com_name_"+i);
			var username = "username_"+id_name.substring(17, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(username, "username_"+i);
			var antevirus_remark = "antevirus_remark_"+id_name.substring(17, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(antevirus_remark, "antevirus_remark_"+i);
			clone.innerHTML = clone.innerHTML.replace(id_name, clone.id);
			var str = "antivirus_ck_list"+id_name.substring(17, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(str, "antivirus_ck_list"+i);
			original.parentNode.appendChild(clone);
		} else {
			if (i_list.length > 1) {
				original.parentNode.removeChild(original);
				i_list.splice(i_list.indexOf(id_name), 1);
			}
		}

	}
</script>