<div id="flight-form" onclick="hideCheckboxes()">
	<section>
		{% if 'edit' in request.base_url %}
			<div id="tab" style="margin:0 10px; font-size:.85vw; font-weight:bold;">
				<a href="/it logs/{{log_no}}/i101/edit" class="button"">Data Center</a>
				<a href="/it logs/{{log_no}}/i102/edit" class="button">Departure Terminal</a>
				<a href="/it logs/{{log_no}}/i103/edit" class="button">International Terminal</a>
				<a href="/it logs/{{log_no}}/i104/edit" class="button">Office Building</a>
				<a href="/it logs/{{log_no}}/i105/edit" class="button">Technical Block</a>
				<span style="padding:10px; float:right; font-size:14px; color:red;">Edit Log Number {{log_no}}</span>
			</div>
		{% else %}
			<div id="tab" style="margin:0 10px; font-size:.85vw; font-weight:bold;">
				<a href="/it forms/i101" class="button"">Data Center</a>
				<a href="/it forms/i102" class="button">Departure Terminal</a>
				<a href="/it forms/i103" class="button">International Terminal</a>
				<a href="/it forms/i104" class="button">Office Building</a>
				<a href="/it forms/i105" class="button">Technical Block</a>
			</div>
		{% endif %}
		{% if nav == "i101" %}
			{% include 'includes/it forms/_i101.html' %}
		{% elif nav == "i102" %}
			{% include 'includes/it forms/_i102.html' %}
		{% elif nav == "i103" %}
			{% include 'includes/it forms/_i103.html' %}
		{% elif nav == "i104" %}
			{% include 'includes/it forms/_i104.html' %}
		{% elif nav == "i105" %}
			{% include 'includes/it forms/_i105.html' %}
		{% else %}
			<form method="POST" action="">
				<table id="freeze-fieldset">
					<thead></thead>
					<tbody style="height: 70vh;">
						<tr>
							<td style="padding-bottom: 7px;">
								<fieldset>
					        		<legend style="text-align: left;">On-Duty Info</legend>
					        		<table>
					        			<thead></thead>
					        			<tbody style="margin-top: 15px; min-height: 57vh;">
						            		<tr style="background: yellow;">
						            			<th style="width: 210px;">
										            <span>Date</span>
										        </th>
										        <th style="width: 210px;">
									             	<span>Week Day</span>
										        </th>
						            			<th style="width: 210px;">
									             	<span>Team No.</span>
										        </th>
						            			<th style="width: 210px;">			            			         
									            	<span>Present Members</span>
										        </th>
										    </tr>
										    <tr>
										    	{% if 'edit' in request.base_url %}
										    		<td style="padding-bottom:15px;">
										            	<p>{{result['shift_date']}}</p>
														<p>{{result['shift_jdate']}}</p>
											        </td>
										    	{% else %}
							            			<td style="padding-bottom:15px;">
										            	<p class="alert-datetime">{{session['datetime']}}</p>
														<p class="alert-datetime">{{session['jdatetime']}}</p>
											        </td>
										        {% endif %}
										        <td style="padding-bottom:15px;">
										        	<select name="day" id="day">
														<option>{{wd}}</option>
														<option value="Monday">Monday</option>
														<option value="Tuesday">Tuesday</option>
														<option value="Wednesday">Wednesday</option>
														<option value="Thursday">Thursday</option>
														<option value="Friday">Friday</option>
														<option value="Saturday">Saturday</option>
														<option value="Sunday">Sunday</option>
													</select>
										        </td>
						            			<td style="padding-bottom:15px;">
						              				<select name="team" id="team">
														<option>{{result['team']}}</option>
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
													</select>
										        </td>
										        <td style="padding-bottom:15px;">
										    		<div class="multiselect" style="margin-bottom: 0;">
													    <div class="selectBox" onclick="showCheckboxes()" style="margin-bottom: 0; width: 100%;">
															<select style="font-size:10px;">
																<option id="present_members">{{(', '.join(result['present_members']))}}</option>
															</select>
															<div class="overSelect" style="margin-bottom: 0;"></div>
														</div>
														<div style="overflow: visible; position: absolute; margin-bottom:0; display: block; background:#fff;">
															<div id="checkboxes" style="margin-bottom:0; width:200px;">
																{% for i in range(AICT_personel|length) %}
																	<label style="text-align: left; font-size: 13px; margin:0;">
																	<input type="checkbox" name="present_members" onclick="ckboxFunction('ckbox{{AICT_personel[i]}}{{i+1}}')" id="ckbox{{AICT_personel[i]}}{{i+1}}" value="{{AICT_personel[i]}}" {% if AICT_personel[i] in result['present_members'] %}checked{% endif %}/>{{AICT_personel[i]}}</label>
																{% endfor %}
														    </div>
														</div>
													</div>
										    	</td>
										    </tr>
										    <tr>
												<td colspan="4" style="padding-bottom:0;">
													<fieldset>
										        		<legend style="text-align: left;">Remarks of Duty</legend>
										        		<div id="remarks">
															<textarea name="remarks">{{('\n'.join(result['remarks']))}}</textarea>
														</div>
													</fieldset>
												</td>
											</tr>
											<tr>
												<td colspan="4" style="padding-bottom:0;">
													<fieldset class="signature">
														<legend style="text-align: left;">Signature</legend>
														<figure id="signature">
															{% if result['presents_signature_path'] %}
																{% for sign in result['presents_signature_path'] %}
																	<img src="{{ sign }}" width="100" height="100" />
																{% endfor %}
															{% else %}
																<img src="{{ session['signature_path'] }}" width="100" height="100" />
															{% endif %}
														</figure>
													</fieldset>
												</td>
											</tr>
										</tbody>
								    </table>
								</fieldset>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="margin:12px 0 0 15px;">
					<input style="text-transform: none;" type="submit" value="Save" />
					{% if 'edit' in request.base_url %}
						<a href="/it logs/{{log_no}}/all" class="button" style="background-color: #f3f3f3;">Back</a>
					{% endif %}
				</div>
			</form>
		{% endif %}
	</section>
</div>

<script type="text/javascript">
	var expanded = true;
	if (document.getElementById("present_members").value) {
		var select_values = (document.getElementById("present_members").value).split(', ')
	} else {
		var select_values = []
	}

	function showCheckboxes() {
		expanded = false;
	}

	function hideCheckboxes() {
		var checkboxes = document.getElementById("checkboxes");
		if (!expanded) {
			checkboxes.style.display = "block";
			expanded = true;
		}
		else {
			checkboxes.style.display = "none";
		}
	}

	function ckboxFunction(id_name) {
		expanded = false;
		if (document.getElementById(id_name).checked == true) {
			select_values.push(document.getElementById(id_name).value);
			document.getElementById("present_members").innerHTML = select_values;
		} else {
			var index = select_values.indexOf(document.getElementById(id_name).value);
			select_values.splice(index, 1);
			document.getElementById("present_members").innerHTML = select_values;
		}
	}
</script>