<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python37\python.exe|&quot;C:\Program Files\Python37\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
