<div id="logdata-form">
	<section>
		<form method="POST" action="">
			<table id="freeze-fieldset">
				<thead></thead>
				<tbody style="height:70vh; margin-top:-1vh;">
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Add Record in ATS Safety Report (E107)</legend>
								<table>
									<thead></thead>
									<tbody style="margin-top:-1vh;">
										<tr>
											<td>
												Airport Name:
											</td>
											<td>
												<span></span>
											</td>											
										</tr>
										<tr>
											<td>
												Username:
											</td>
											<td>
												<span></span>
											</td>
										</tr>
										<tr>
											<td>
												Title:
											</td>
											<td style="float: left;">
												<input type="text" name="title"/>
											</td>
										</tr>
										<tr>
											<td>
												Explanation:
											</td>
											<td>
												<textarea style="width:600px; height:100px; font-size:15px; direction: ltr;" name="explanation"></textarea>
											</td>
										</tr>
										<tr>
											<td>
												Proposed Remedial Action:
											</td>
											<td>
												<textarea style="width:600px; height:70px; font-size:15px; direction: ltr;" name="remedial_action"></textarea>
											</td>
										</tr>
										<tr>
											<td>
												ATS Chief Comment:
											</td>
											<td>
												<textarea style="width:600px; height:70px; font-size:15px; direction: ltr;" name="chief_comment"></textarea>
											</td>
										</tr>
										<tr>
											<td>
												pdf Report:
											</td>
											<td style="float: left;">
												<input type="file" name="report_file" />
											</td>
										</tr>
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
				</tbody>
			</table>
			<table>
				<tr style="float: left; border: none; margin-top: -4vh;">
					<td>
						<input style="text-transform: none;" type="submit" value="Save" />
					</td>
				</tr>
			</table>
		</form>
	</section>
</div>