<div id="logdata-form">
	<section>
		<form method="POST" action="">
			<table id="freeze-fieldset">
				<thead>
					<tr style="border: none; font-weight: bold;">
					</tr>
				</thead>
				<tbody style="height: 74vh; margin-top:-1.5vh;">
					<tr>
						<td>
							<fieldset class="other-forms">
								<legend>Add Record in Remarkable (E103)</legend>
								<table>
									<thead></thead>
									<tbody style="max-height: 63vh;">
										<tr>
											<td>
												ACFT Type:
											</td>
											<td>
												<input id="acft_type" type="text" name="acft_type" />
											</td>
										</tr>
										<tr>
											<td>
												Call Sign:
											</td>
											<td>
												<input id="call_sign" type="text" name="call_sign" />
											</td>
										</tr>
										<tr>
											<td>
												Register:
											</td>
											<td>
												<input id="register" type="text" name="register" />
											</td>
										</tr>
										<tr>
											<td>
												DEP AD:
											</td>
											<td>
												<input id="dep_ad" type="text" name="dep_ad" />
											</td>
										</tr>
										<tr>
											<td>
												DEST AD:
											</td>
											<td>
												<input id="dest_ad" type="text" name="dest_ad" />
											</td>
										</tr>
										<tr>
											<td>
												Organization:
											</td>
											<td>
												<input id="organization" type="text" name="organization" />
											</td>
										</tr>
										<tr>
											<td>
												UTC Date:
											</td>
											<td>
												<input type="date" name="utc_date" />
											</td>
										</tr>
										<tr>
											<td>
												LCL Date:
											</td>
											<td>
												
											</td>
										</tr>
										<tr>
											<td>
												Time:
											</td>
											<td>
												<input type="time" name="time" />
											</td>
										</tr>
										<tr>
											<td>
												Cause:
											</td>
											<td>
												<textarea style="width:200px; height:30px; font-size:15px; direction: ltr;" name="cause"></textarea>
											</td>
										</tr>
										<tr>
											<td>
												Pilot Request:
											</td>
											<td>
												<textarea style="width:200px; height:30px; font-size:15px; direction: ltr;" name="pilot_request"></textarea>
											</td>
										</tr>
										<tr>
											<td>
												Description:
											</td>
											<td>
												<textarea style="width:200px; height:30px; font-size:15px; direction: ltr;" name="description"></textarea>
											</td>
										</tr>
										<tr>
											<td>
												Report File:
											</td>
											<td>
												<input type="file" name="report_file" />
											</td>
										</tr>
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
				</tbody>
			</table>
			<table>
				<tr style="float: left; border: none;">
					<td>
						<input style="text-transform: none; margin-top:-2vh;" type="submit" value="Save" />
					</td>
				</tr>
			</table>
		</form>
	</section>
</div>