<fieldset>
	<legend>Other Equipments</legend>
	<table class="freeze-table">
		<thead>
    		<tr style="background: yellow;">
    			<th>			            			         
	             	<span>Title</span>
		        </th>
		        <th style="width:300px;">			            			         
	             	<span>Status</span>
		        </th>
    			<th>			            			         
	            	<span>Description</span>
		        </th>
		        <th style="width:90px;"></th>
		    </tr>
	    </thead>
	    <tbody style="height: 160px;">
		    <tr id="eqp_duplicater1">
    			<td>
	            	<select name="eqp_title_1" id="eqp_title">
						<option></option>
						<option value="RVR 11">RVR 11</option>
						<option value="RVR 29">RVR 29</option>
						<option value="RVR MID">RVR MID</option>
						<option value="WDI-TWR">WDI-TWR</option>
						<option value="CRASH ALARM">CRASH ALARM</option>
						<option value="WINDSOCK">WINDSOCK</option>
					</select>
		        </td>
		        <td style="width:300px;">
		        	<input type="radio" name="eqp_status_1" value="Not OPR" style="cursor:pointer;" />Not OPR
					<input type="radio" name="eqp_status_1" value="US" style="cursor:pointer;"/>US
					<input type="radio" name="eqp_status_1" value="FLTCK EXP" style="cursor:pointer;"/>FLTCK EXP
		        </td>
    			<td>
    				<textarea style="width:200px; height:20px; font-size:15px; direction:ltr;" name="eqp_description_1"></textarea>
      			</td>
      			<td style="width:10px;" id="last_child">
      				<a href="javascript:addrowFunction6('eqp_duplicater1','del')" title="delete" class="add-box" style="padding: 3px 7px; color: red;"> - </a>
      			</td>
      			<td style="width:10px;" id="last_child">
      				<a href="javascript:addrowFunction6('eqp_duplicater1','add')" title="add new" class="add-box">+</a>
      			</td>
		    </tr>
	    </tbody>
    </table>
</fieldset>

<script>
	var n = 1;
	function addrowFunction6(id_name, action) {
	    var original = document.getElementById(id_name);
		var clone = original.cloneNode(true); // "deep" clone
		if (action == 'add'){
			clone.id = "eqp_duplicater" + ++n;
			var title = "title_"+id_name.substring(14, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(title, "title_"+n);
			var status = "status_"+id_name.substring(14, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(status, "status_"+n);
			clone.innerHTML = clone.innerHTML.replace(status, "status_"+n);
			clone.innerHTML = clone.innerHTML.replace(status, "status_"+n);
			var description = "description_"+id_name.substring(14, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(description, "description_"+n);
			clone.innerHTML = clone.innerHTML.replace(id_name, clone.id);
			var str = "eqp_duplicater"+id_name.substring(14, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(str, clone.id);
			original.parentNode.appendChild(clone);
		} else {
			original.parentNode.removeChild(original);
		}
	}
</script>