<fieldset>
	<legend>Surveillance</legend>
	<table class="freeze-table">
		<thead>
    		<tr style="background: yellow;">
    			<th>			            			         
	             	<span>Title</span>
		        </th>
		        <th style="width:300px;">			            			         
	             	<span>Status</span>
		        </th>
    			<th>			            			         
	            	<span>Description</span>
		        </th>
		        <th style="width:90px;"></th>
		    </tr>
	    </thead>
	    <tbody style="height: 160px;">
	    	{% for i in range(result['sur_title']|length) %}
			    <tr id="sur_duplicater{{i+1}}">
        			<td>
		            	<select name="sur_title_{{i+1}}" id="sur_title">
							<option>{{result['sur_title'][i]}}</option>
						</select>
			        </td>
			        <td style="width:300px;">
			        	{% if result['sur_status'][i]=='Not OPR' %}{% set not_opr_ck='checked' %}{% else %}{% set not_opr_ck='' %}{% endif %}
			        	{% if result['sur_status'][i]=='US' %}{% set us='checked' %}{% else %}{% set us='' %}{% endif %}
			        	{% if result['sur_status'][i]=='FLTCK EXP' %}{% set fltck_exp='checked' %}{% else %}{% set fltck_exp='' %}{% endif %}
			        	<input type="radio" name="sur_status_{{i+1}}" value="Not OPR" style="cursor:pointer;" {{not_opr_ck}}/>Not OPR
						<input type="radio" name="sur_status_{{i+1}}" value="US" style="cursor:pointer;" {{us}}/>US
						<input type="radio" name="sur_status_{{i+1}}" value="FLTCK EXP" style="cursor:pointer;" {{fltck_exp}}/>FLTCK EXP
			        </td>
        			<td>
        				<textarea style="width:200px; height:20px; font-size:15px; direction:ltr;" name="sur_description_{{i+1}}">{{result['sur_description'][i]}}</textarea>
          			</td>
          			<td style="width:10px;" id="last_child">
          				<a href="javascript:addrowFunction3('sur_duplicater{{i+1}}','del')" title="delete" class="add-box" style="padding: 3px 7px; color: red;"> - </a>
          			</td>
          			<td style="width:10px;" id="last_child">
          				<a href="javascript:addrowFunction3('sur_duplicater{{i+1}}','add')" title="add new" class="add-box">+</a>
          			</td>
			    </tr>
			{% endfor %}
	    </tbody>
    </table>		
</fieldset>

<script>
	var k = "{{ result['sur_title']|length }}";
	function addrowFunction3(id_name, action) {
	    var original = document.getElementById(id_name);
		var clone = original.cloneNode(true); // "deep" clone
		if (action == 'add'){
			clone.id = "sur_duplicater" + ++k;
			var title = "title_"+id_name.substring(14, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(title, "title_"+k);
			var status = "status_"+id_name.substring(14, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(status, "status_"+k);
			clone.innerHTML = clone.innerHTML.replace(status, "status_"+k);
			clone.innerHTML = clone.innerHTML.replace(status, "status_"+k);
			var description = "description_"+id_name.substring(14, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(description, "description_"+k);
			clone.innerHTML = clone.innerHTML.replace(id_name, clone.id);
			var str = "sur_duplicater"+id_name.substring(14, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(str, clone.id);
			original.parentNode.appendChild(clone);
		} else {
			original.parentNode.removeChild(original);
		}
	}
</script>