<table id="freeze-wholelog">
	<thead>
	</thead>
	<tbody>
		<tr>
			<td>
				<fieldset id="second-fieldset" style="background: #fefefe; height:65vh;">
					<legend style="font-weight: bold;">Log Number: {{log_no}}</legend>
					<table id="shift-brief" class="padding-top">
						<thead></thead>
						<tbody style="height: 63vh;">
							<tr>
								<td>
									<span class="font-style">Team NO:</span>
								</td>
								<td colspan="2" class="right-border" style="color: red;">
									<span>{{result['team']}}</span>
								</td>
								<td colspan="2">
									<span class="font-style">Airport:</span>
								</td>
								<td>
									<span>OICC</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="font-style">On-Duty:</span>
								</td>
								<td colspan="2" class="right-border" style="color: red;">
									<span>{{(', '.join(result['on_duty']))}}</span>
								</td>
								<td colspan="2">
									<span class="font-style">UTC Date:</span>
								</td>
								<td>
									<span>{{result['shift_date']}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="font-style">Shift Switch:</span>
								</td>
								<td colspan="2" class="right-border">
									<span>{{(', '.join(result['shift_switch']))}}</span>
								</td>
								<td colspan="2">
									<span class="font-style">LCL Date:</span>
								</td>
								<td>
									<span>{{result['shift_jdate']}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="font-style">Overtime:</span>
								</td>
								<td colspan="2" class="right-border">
									<span>{{(', '.join(result['overtime']))}}</span>
								</td>
								<td colspan="2">
									<span class="font-style">Week Day:</span>
								</td>
								<td>
									<span>{{result['day']}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="font-style">Daily Leave:</span>
								</td>
								<td colspan="2" class="right-border">
									<span>{{(', '.join(result['daily_leave']))}}</span>
								</td>
								<td colspan="2">
									<span class="font-style">Day/Night:</span>
								</td>
								<td>
									<span>{{result['shift']}}</span>
								</td>
							</tr>
							<tr><td colspan="6"><hr></td></tr>
							{% if result['server_room_equipment'] %}
								<tr>
									<th>
			            				<span style="color: red;">Server Room</span>
			            			</th>
									<th colspan="2">
										Equipments
									</th>
									<th>
										Status
									</th>
									<th colspan="2">
										Remark
									</th>
								</tr>
								{% for item in server_room_eqp %}
									<tr>
										<td></td>
										<td colspan="2" style="font-size: 15px;">
											{{item}}
										</td>
										<td>
											{{result['server_room_equipment'][item]['status']}}
								        </td>
								        <td colspan="2">
											{{result['server_room_equipment'][item]['remark']}}
										</td>
									</tr>
								{% endfor %}
								<tr><td></td></tr><tr><td></td></tr>
								<tr>
									<td></td>
									<td colspan="2">
										Room Tempreture:
									</td>
									<td>
										{{result['room_temp']}}
									</td>
								</tr>
								<tr><td colspan="6"><hr></td></tr>
							{% endif %}
		            		<tr>
		            			<th>
		            				<span style="color: red;">Channels</span>
		            			</th>
		            			<th>
					             	<span>CCT</span>
						        </th>
						        <th>
					             	<span>During Duty</span>
						        </th>
		            			<th>
					            	<span style="font-size: 14px;">Interruption Time</span>
						        </th>
						        <th>
					             	<span>Reason</span>
						        </th>
		            			<th>
					            	<span>End of Duty</span>
						        </th>
						    </tr>
						    {% for ch in channel_list %}
							    <tr>
							    	<td></td>
							    	<td>
							    		{{ch.upper()}}
							    	</td>
							    	<td>
							    		{{result[ch+'_during']}}
							    	</td>
							    	<td>
							    		{%if result[ch+'_from']%}from {%endif%} {{result[ch+'_from']}}
							    		{%if result[ch+'_to']%} to {%endif%} {{result[ch+'_to']}}
							    	</td>
							    	<td>
							    		{{result[ch+'_reason']}}
							    	</td>
							    	<td>
							    		{{result[ch+'_end']}}
							    	</td>
							    </tr>
							{% endfor %}
							<tr><td colspan="6"><hr></td></tr>
							{% if msg_flag %}
								<tr>
			            			<th>
			            				<span style="color: red;">Messages</span>
			            			</th>
			            			<th>
						             	<span>Message Type</span>
							        </th>
							        <th colspan="4">
						             	<span>Description</span>
							        </th>
							    </tr>
							    {% for msg in msg_list %}
							    	{% if result[msg] %}
									    <tr>
					            			<td></td>
					            			<td>
								             	{% if msg == 'perm' %}
									            	<span>FLT PERM</span>
									            {% else %}
									            	<span>{{msg.upper()}}</span>
									            {% endif %}
									        </td>
									        {% if msg == 'notam' %}
									        	<td colspan="4">
									        	{% for i in range(result[msg]|length) %}
						        					(<a href="javascript:window.open('/Notam/{{notam_data['notam_no'][i]}}', 'NOTAM', 'width=800,height=500');" title="{{notam_data['E'][i]}}"><span style="color:blue">{{notam_data['notam_tsa'][i]}} {{result[msg][i]}}</span></a>)
						        				{% endfor %}
										        </td>
									        {% elif msg == 'perm' %}
										        <td colspan="4">
									            {% for i in range(result[msg]|length) %}
										            (<a href="javascript:window.open('/Permission/{{log_no}}/{{result[msg][i][0]}}/{{perm_data['ref'][i]}}/{{perm_data['if_granted'][i]}}', 'Permission', 'width=800,height=500');" title="{{perm_data['granted'][i]}} {{perm_data['ir_fpn'][i]}}"><span style="color:blue">{{result[msg][i][0]}} {{result[msg][i][1]}}</span></a>)
										        {% endfor %}
										        </td>
										    {% else %}
										    	<td colspan="4">
										    		{{result[msg]}}
										    	</td>
									        {% endif %}
									    </tr>
									{% endif %}
							    {% endfor %}
							    <tr><td colspan="6"><hr></td></tr>
						    {% endif %}
						    {% if result['remarks'] %}
							    <tr>
			            			<th>
			            				<span style="color: red;">Remarks</span>
			            			</th>
			            			<th colspan="5">
			            				<span></span>
			            			</th>
							    </tr>
							    <tr>
			            			<td></td>
			            			<td colspan="5" style="text-align: right; direction: rtl;">
			            				<span style="margin-right: 30px;"><span style="font-family: 'BNazanin';">{{result['remarks']}}</span></span>
			            			</td>
							    </tr>
							    <tr><td colspan="6"><hr></td></tr>
						    {% endif %}
						    <tr>
		            			<th>
		            				<span style="color: red;">Signature</span>
		            			</th>
		            			<th colspan="5">
		            				<span></span>
		            			</th>
						    </tr>
						    <tr>
		            			<td></td>
		            			<td colspan="5">
		            				<figure id="signature">
		            					{% for sign in result['signature_path'] %}
											<img src="{{sign}}" width="100" height="100" />
										{% endfor %}
									</figure>
		            			</td>
						    </tr>
						</tbody>
				    </table>
				</fieldset>
			</td>			
		</tr>
		<tr id="wholelog-links">
			<td>
				<ul style="margin-top: -3vh;">
					<li><a href="/amhs logs/{{log_no}}/edit" class="button" style="background-color: #f3f3f3;">Edit</a></li>
					<li><a href="/amhs-pdf/{{log_no}}" class="button" style="background-color: #f3f3f3;">pdf</a></li>
					{% if log_no >= session['amhs_log_no'] %}
						<li style="float: right;"><a class="next" title="Next Shift"></a></li>
					{% else %}
						<li style="float: right;"><a href="/amhs logs/{{log_no+1}}" class="next" title="Next Shift"></a></li>
					{% endif %}
					<li style="float: right; font-size: 16px;"><a class="log-no" title="Log Number">{{log_no}}</a></li>
					{% if log_no > 1 %}
						<li style="float: right;"><a href="/amhs logs/{{log_no-1}}" class="previous" title="Previous Shift"></a></li>
					{% else %}
						<li style="float: right;"><a class="previous" title="Previous Shift"></a></li>
					{% endif %}
				</ul>
			</td>
		</tr>
	</tbody>
</table>