<table style="width: 100%;">
	<thead></thead>
	<tbody>
		<tr style="padding: 0;">
			<td style="padding: 0;">
				<fieldset>
	            	<legend style="font-weight: bold;">A-ICT Electronic Log</legend>
					<table class="leftpane-table">
						<tr>
							<td style="font-size: 14px; text-align: left;">
								{% if session['initial'] %}
									<a href="/amhs log form" class="navigator-links">AMHS Watch Log</a>
								{% else %}
								 	<a class="navigator-links">AMHS Watch Log</a>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/it log form" class="navigator-links">IT Watch Log</a>
							</td>
						</tr>
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/amhs logs/{{session['amhs_log_no']}}" class="navigator-links">The Previous AMHS Logs</a>
							</td>
						</tr>
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/it logs/{{session['it_log_no']}}/all" class="navigator-links">The Previous IT Logs</a>
							</td>
						</tr>
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a class="navigator-links">The Other Forms</a>
							</td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
		<tr style="padding: 0;">
			<td style="padding: 0;">
				<fieldset>
	            	<legend style="font-weight: bold;">FIDS</legend>
					<table class="leftpane-table">
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/fids/OICC/all" class="navigator-links">Kermanshah FIDS</a>
							</td>
							<td style="font-size: 14px; text-align: left;">
								<a href="/fids/OIII/all" class="navigator-links">Mehrabad FIDS</a>
							</td>				
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
		<tr style="padding: 0;">
			<td style="padding: 0;">
				<fieldset>
	            	<legend style="font-weight: bold;">ADSB</legend>
					<table class="leftpane-table">
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/adsb/OIII" class="navigator-links">Mehrabad Airport</a>
							</td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
	</tbody>
</table>