<table style="width: 100%;">
	<thead></thead>
	<tbody>
		{% if session['admin'] %}
			<tr style="padding: 0;">
				<td style="padding: 0;">
					<fieldset>
		            	<legend style="font-weight: bold;">Admin Access</legend>
						<table class="leftpane-table">
							<tr>
								<td style="font-size: 14px; text-align: left;">
									<a href="/user-roles" class="navigator-links">User Roles</a>
								</td>												
							</tr>
							<tr>
								<td style="font-size: 14px; text-align: left;">
									<a href="/log-components" class="navigator-links">Log Components</a>
								</td>												
							</tr>
						</table>
					</fieldset>
				</td>
			</tr>
		{% endif %}
		<tr style="padding: 0;">
			<td style="padding: 0;">
				<fieldset>
	            	<legend style="font-weight: bold;">A-ICT Electronic Log</legend>
					<table class="leftpane-table">
						<tr>
							<td style="font-size: 14px; text-align: left;">
								{% if session['AMHS form'] %}
									<a href="/amhs log form" class="navigator-links">AMHS Watch Log</a>
								{% else %}
								 	<a class="navigator-links">AMHS Watch Log</a>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td style="font-size: 14px; text-align: left;">
								{% if session['IT form'] %}
									<a href="/it log form" class="navigator-links">IT Watch Log</a>
								{% else %}
								 	<a class="navigator-links">IT Watch Log</a>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/amhs logs/{{session['amhs_log_no']}}" class="navigator-links">The Previous AMHS Logs</a>
							</td>
						</tr>
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/it logs/{{session['it_log_no']}}/all" class="navigator-links">The Previous IT Logs</a>
							</td>
						</tr>
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a class="navigator-links">The Other Forms</a>
							</td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
		<tr style="padding: 0;">
			<td style="padding: 0;">
				<fieldset>
	            	<legend style="font-weight: bold;">FIDS</legend>
					<table class="leftpane-table">
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/fids/OICC/all" class="navigator-links">Kermanshah FIDS</a>
							</td>
						</tr>
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/fids/OIII/all" class="navigator-links">Mehrabad FIDS</a>
							</td>				
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
		<!--<tr style="padding: 0;">
			<td style="padding: 0;">
				<fieldset>
	            	<legend style="font-weight: bold;">ADSB</legend>
					<table class="leftpane-table">
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/adsb/{{session['airport']}}" class="navigator-links">Kermanshah Airport</a>
							</td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>-->
	</tbody>
</table>