<table style="width: 100%;">
	<thead></thead>
	<tbody>
		<tr style="padding: 0;">
			<td style="padding: 0;">
				<fieldset style="max-height:27vh;">
	            	<legend style="font-weight: bold;">A-ICT Electronic Log</legend>
					<table class="leftpane-table">
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/amhs log form" class="navigator-links">AMHS Watch Log</a>
							</td>
						</tr>
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/it log form" class="navigator-links">IT Watch Log</a>
							</td>
						</tr>
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/amhs logs/{{session['amhs_log_no']}}" class="navigator-links">The Previous Logs</a>
							</td>
						</tr>
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/other forms/E101" class="navigator-links">The Other Forms</a>
							</td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
		<tr style="padding: 0;">
			<td style="padding: 0;">
				<fieldset style="max-height:15vh;">
	            	<legend style="font-weight: bold;">FIDS</legend>
					<table class="leftpane-table">
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/fids/OICC/all" class="navigator-links">Kermanshah FIDS</a>
							</td>
							<td style="font-size: 14px; text-align: left;">
								<a href="/fids/OIII/all" class="navigator-links">Mehrabad FIDS</a>
							</td>				
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
		<tr style="padding: 0;">
			<td style="padding: 0;">
				<fieldset style="max-height:10vh;">
	            	<legend style="font-weight: bold;">ADSB</legend>
					<table class="leftpane-table">
						<tr>
							<td style="font-size: 14px; text-align: left;">
								<a href="/adsb/OIII" class="navigator-links">Mehrabad Airport</a>
							</td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
	</tbody>
</table>