<div id="flight-form">
	<section>
		<form method="POST" action="" enctype="multipart/form-data">
			<table id="freeze-fieldset">
				<thead></thead>
				<tbody style="height: 77vh;">
					<tr>
						<td style="padding-bottom: 7px;">
							<fieldset>
				        		<legend>On-Duty Info</legend>
				        		<table>
				        			<thead></thead>
				        			<tbody style="margin-top: 15px; min-height: 29vh;">
					            		<tr style="background: yellow;">
					            			<th style="width: 210px;">
									            <span>Date</span>
									        </th>
									        <th style="width: 210px;">			            			         
								             	<span>Week Day</span>
									        </th>
					            			<th style="width: 210px;">
								             	<span>Team No.</span>
									        </th>
					            			<th style="width: 210px;">			            			         
								            	<span>Day-Night</span>
									        </th>
									    </tr>
									    <tr>
					            			<td>
								            	<p class="alert-datetime">{{session['datetime']}}</p>
												<p class="alert-datetime">{{session['jdatetime']}}</p>
									        </td>
									        <td>
									        	<select name="day" id="day">
													<option>{{wd}}</option>
													<option value="Monday">Monday</option>
													<option value="Tuesday">Tuesday</option>
													<option value="Wednesday">Wednesday</option>
													<option value="Thursday">Thursday</option>
													<option value="Friday">Friday</option>
													<option value="Saturday">Saturday</option>
													<option value="Sunday">Sunday</option>
												</select>
									        </td>
					            			<td>
					              				<select name="team" id="team">
													<option>{{result['team']}}</option>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
									        </td>
									        <td>
					              				{% if today_shift == "Day" %}{% set day_ck = 'checked' %}{% else %}{% set day_ck = '' %}{% endif %}
									        	{% if today_shift == "Night" %}{% set night_ck = 'checked' %}{% else %}{% set night_ck = '' %}{% endif %}
				              					<label style="display:inline-block;"><input type="radio" name="shift" value="Day" {{day_ck}}/>Day</label>
												<label style="display:inline-block;"><input type="radio" name="shift" value="Night" {{night_ck}}/>Night</label>
									        </td>
									    </tr>

									    <tr style="background: yellow;">					    	
									    	<th style="width: 210px;">
									            <span>On-Duty</span>
									        </th>
									        <th style="width: 210px;">
									            <span>Shift Switch</span>
									        </th>
									        <th style="width: 210px;">
									            <span>Overtime</span>
									        </th>
									        <th style="width: 210px; font-size: 14px;">
									            <span>Daily Leave</span>
									        </th>
									    </tr>
									    <tr>					    	
									    	<td style="width: 210px; padding-bottom:7px;">
									    		{% if result %}
						              				<input id="on_duty" type="text" name="on_duty" value="{{(', '.join(result['on_duty']))}}" size="7" style="text-transform:uppercase;" required />
										    	{% else %}
										    		<input id="on_duty" type="text" name="on_duty" value="{{session['initial']}}" size="7" style="text-transform:uppercase;" required />
										    	{% endif %}
									        </td>
									        <td style="width: 210px; padding-bottom:7px;">
					              				<input id="shift_switch" type="text" name="shift_switch" value="{{(', '.join(result['shift_switch']))}}" size="7" style="text-transform:uppercase;" />
									        </td>
									        <td style="width: 210px; padding-bottom:7px;">
									        	<input id="overtime" type="text" name="overtime" value="{{(', '.join(result['overtime']))}}" size="7" style="text-transform:uppercase; text-align:center;" />
									        </td>
									    	<td style="width: 210px; padding-bottom:7px;">
									    		<input id="daily_leave" type="text" name="daily_leave" value="{{(', '.join(result['daily_leave']))}}" size="7" style="text-transform:uppercase;" />
									    	</td>
									    </tr>
									</tbody>
							    </table>
							</fieldset>
						</td>
					</tr>
					<tr class="it-forms">
						<td style="padding-bottom: 7px;">
							<fieldset class="other-forms">
								<legend>Server Room</legend>
								<table>
									<thead>
										<tr style="background: yellow;">
											<th>
												Equipments
											</th>
											<th>
												Status
											</th>
											<th>
												Remark
											</th>
										</tr>
									</thead>
									<tbody style="margin-top: 15px;">
										{% for item in server_room_eqp %}
											<tr class="ch-rows" style="display: block;">
												<td style="font-size: 15px;">
													{{item}}
												</td>
												{% if result['server_room_equipment'] %}
													<td>
							              				{% if result['server_room_equipment'][item]['status'] == "On" %}{% set on_ck = 'checked' %}{% else %}{% set on_ck = '' %}{% endif %}
											        	{% if result['server_room_equipment'][item]['status'] == "Off" %}{% set off_ck = 'checked' %}{% else %}{% set off_ck = '' %}{% endif %}
						              					<label style="display:inline-block;"><input type="radio" name="{{item}}" value="On" {% if result['server_room_equipment'][item]['status'] %}{{on_ck}}{%else%}checked{% endif %}/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{item}}" value="Off" {{off_ck}}/>Off</label>
											        </td>
											        {% if 'UPS' in item %}
											        	<td>
															<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{item}} remark" placeholder="load %">{{result['server_room_equipment'][item]['remark']}}</textarea>
														</td>
											        {% else %}
												        <td>
															<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{item}} remark">{{result['server_room_equipment'][item]['remark']}}</textarea>
														</td>
													{% endif %}
												{% else %}
													<td>
						              					<label style="display:inline-block;"><input type="radio" name="{{item}}" value="On" checked/>On</label>
														<label style="display:inline-block;"><input type="radio" name="{{item}}" value="Off"/>Off</label>
											        </td>
											        {% if 'UPS' in item %}
												        <td>
															<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{item}} remark" placeholder="load %"></textarea>
														</td>
													{% else %}
														<td>
															<textarea style="width:200px; height:20px; font-size:15px; direction: ltr;" name="{{item}} remark"></textarea>
														</td>
													{% endif %}
												{% endif %}
											</tr>
										{% endfor %}
										<tr>
											<td>
												Room Temperature:
											</td>
											<td>
												<input style="text-transform: none;" type="text" name="room_temp" value="{{result['room_temp']}}" size="7"/>
											</td>
										</tr>
									</tbody>
								</table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td style="padding-bottom: 7px;">
							<fieldset>
				        		<legend>Channel Status</legend>
				        		<table>
				        			<thead>
				        				<tr style="background: yellow;">
					            			<th style="width: 50px;">
									            <span>CCT</span>
									        </th>
									        <th style="width: 200px;">			            			         
								             	<span>During Duty</span>
									        </th>
					            			<th style="width: 350px;">			            			         
								             	<span>Interruption Time</span>
								             	<span><pre style="margin:5px 0;">From        To</pre></span>
									        </th>					        
					            			<th style="width: 250px;">			            			         
								            	<span>Reason</span>
									        </th>
									        <th style="width: 200px;">			            			         
								             	<span>End of Duty</span>
									        </th>
									    </tr>
				        			</thead>
				        			<tbody style="margin-top: 15px; min-height: {{(channel_list|length)*6.8}}vh;">
				        				{% for i in range(channel_list|length) %}
						            		<tr class="ch-rows">
						            			<td style="width: 50px; padding-bottom:7px;">
										            <span>{{channel_list[i].upper()}}</span>
										        </td>
										        {% if 'channels_status' in result %}
											        {% if result['channels_status'][channel_list[i]]['during'] %}
												        <td style="width: 200px; padding-bottom:7px;">
												        	{% if result['channels_status'][channel_list[i]]['during'] == "OK" %}{% set ok = 'checked' %}{% else %}{% set ok = '' %}{% endif %}
											        		{% if result['channels_status'][channel_list[i]]['during'] == "US" %}{% set us = 'checked' %}{% else %}{% set us = '' %}{% endif %}
											             	<label style="display: inline-block;"><input type="radio" name="{{channel_list[i]}}_during" value="OK" {{ok}}/>OK</label>
															<label style="display: inline-block;"><input type="radio" name="{{channel_list[i]}}_during" value="US" {{us}}/>US</label>
												        </td>
												    {% else %}
												    	<td style="width: 200px; padding-bottom:7px;">
											             	<label style="display: inline-block;"><input type="radio" name="{{channel_list[i]}}_during" value="OK" checked/>OK</label>
															<label style="display: inline-block;"><input type="radio" name="{{channel_list[i]}}_during" value="US" />US</label>
												        </td>
												    {% endif %}
							            			<td style="width: 350px; padding-bottom:7px;">			            			         
										             	<input type="time" name="{{channel_list[i]}}_from" value="{{result['channels_status'][channel_list[i]]['from']}}" style="width:100px;" />
														<input type="time" name="{{channel_list[i]}}_to" value="{{result['channels_status'][channel_list[i]]['to']}}" style="width:100px;" />
											        </td>
							            			<td style="width: 0px; padding-bottom:7px;">			            			         
										            	<select name="{{channel_list[i]}}_reason" style="width:150px;">
															<option style="font-size:12px;">{{result['channels_status'][channel_list[i]]['reason']}}</option>
															<option style="font-size:12px;" value="Failure at the Other End">Failure at the Other End</option>
															<option style="font-size:12px;" value="Failure at the Center Side">Failure at the Center Side</option>
															<option style="font-size:12px;" value="Circuit Break">Circuit Break</option>
															<option style="font-size:12px;" value="ATN Fault">ATN Fault</option>
															<option style="font-size:12px;" value="Nobody at the Other End">Nobody at the Other End</option>
															<option style="font-size:12px;" value="Unknown">Unknown</option>
															<option style="font-size:12px;" value="Other">Other</option>
														</select>
											        </td>
											        {% if result['channels_status'][channel_list[i]]['end'] %}
											        	<td style="width: 200px; padding-bottom:7px;">		        	
												        	{% if result['channels_status'][channel_list[i]]['end'] == "OK" %}{% set ok = 'checked' %}{% else %}{% set ok = '' %}{% endif %}
											        		{% if result['channels_status'][channel_list[i]]['end'] == "US" %}{% set us = 'checked' %}{% else %}{% set us = '' %}{% endif %}
											             	<label style="display: inline-block;"><input type="radio" name="{{channel_list[i]}}_end" value="OK" {{ok}}/>OK</label>
															<label style="display: inline-block;"><input type="radio" name="{{channel_list[i]}}_end" value="US" {{us}}/>US</label>
														</td>
													{% else %}
												    	<td style="width: 200px; padding-bottom:7px;">
											             	<label style="display: inline-block;"><input type="radio" name="{{channel_list[i]}}_end" value="OK" checked/>OK</label>
															<label style="display: inline-block;"><input type="radio" name="{{channel_list[i]}}_end" value="US" />US</label>
												        </td>
												    {% endif %}
												{% else %}
											    	<td style="width: 200px; padding-bottom:7px;">
										             	<label style="display: inline-block;"><input type="radio" name="{{channel_list[i]}}_during" value="OK" checked/>OK</label>
														<label style="display: inline-block;"><input type="radio" name="{{channel_list[i]}}_during" value="US" />US</label>
											        </td>
							            			<td style="width: 350px; padding-bottom:7px;">
										             	<input type="time" name="{{channel_list[i]}}_from" style="width:100px;" />
														<input type="time" name="{{channel_list[i]}}_to" style="width:100px;" />
											        </td>
							            			<td style="width: 0px; padding-bottom:7px;">
										            	<select name="{{channel_list[i]}}_reason" style="width:150px;">
															<option style="font-size:12px;"></option>
															<option style="font-size:12px;" value="Failure at the Other End">Failure at the Other End</option>
															<option style="font-size:12px;" value="Failure at the Center Side">Failure at the Center Side</option>
															<option style="font-size:12px;" value="Circuit Break">Circuit Break</option>
															<option style="font-size:12px;" value="ATN Fault">ATN Fault</option>
															<option style="font-size:12px;" value="Nobody at the Other End">Nobody at the Other End</option>
															<option style="font-size:12px;" value="Unknown">Unknown</option>
															<option style="font-size:12px;" value="Other">Other</option>
														</select>
											        </td>
											    	<td style="width: 200px; padding-bottom:7px;">
										             	<label style="display: inline-block;"><input type="radio" name="{{channel_list[i]}}_end" value="OK" checked/>OK</label>
														<label style="display: inline-block;"><input type="radio" name="{{channel_list[i]}}_end" value="US" />US</label>
											        </td>
											    {% endif %}
										        </td>
										    </tr>
										{% endfor %}
									</tbody>
							    </table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td style="padding-bottom: 7px;">
							<fieldset>
				        		<legend>Messages</legend>
				        		<table bgcolor="#f2f2f2" style="width:100%;">
				        			<thead></thead>
				        			<tbody style="margin-top: 15px; min-height: {{(msg_list|length)*7}}vh;">
				        				{% for msg in msg_list %}
						            		<tr style="width:100%;">
						            			<td style="width: 100px; padding-bottom:7px;">
						            				{% if msg == 'perm' %}
										            	<span>FLT PERM</span>
										            {% else %}
										            	<span>{{msg.upper()}}</span>
										            {% endif %}
										        </td>
										        {% if msg == 'notam' %}
										        	<td style="margin-bottom:0; padding-bottom:7px;">
										        		<div class="input-notam">
										        			{% if result[msg] %}
										        				{% for i in range(result[msg]|length) %}
										        					(<a href="javascript:window.open('/Notam/{{notam_data['notam_no'][i]}}', 'NOTAM', 'width=800,height=500');" title="{{notam_data['E'][i]}}"><span style="color:blue">{{notam_data['notam_tsa'][i]}} {{result[msg][i]}}</span></a> <a class="del-box" href="/Delete/{{log_no}}/{{notam_data['notam_tsa'][i]}}/{{notam_data['notam_no'][i]}}" title="delete the notam">-</a>)
										        				{% endfor %}
										        			{% endif %}
										        			<a class="add-box" href="javascript:window.open('/New Message/Notam/{{log_no}}', 'New Notam Message', 'width=800,height=500');" title="add new notam">Add</a>
										        		</div>
										        	</td>
										        {% elif msg == 'perm' %}
										        	<td style="margin-bottom:0; padding-bottom:7px;">
										        		<div class="input-notam">
										        			{% if result[msg] %}
											        			{% for i in range(result[msg]|length) %}
														            (<a href="javascript:window.open('/Permission/{{log_no}}/{{result[msg][i][0]}}/{{perm_data['ref'][i]}}/{{perm_data['if_granted'][i]}}', 'Permission', 'width=800,height=500');" title="{{perm_data['granted'][i]}} {{perm_data['ir_fpn'][i]}}"><span style="color:blue">{{result[msg][i][0]}} {{result[msg][i][1]}}</span></a> <a class="del-box" href="/Delete/{{log_no}}/{{result[msg][i][0]}}/{{perm_data['ref'][i]}}" title="delete the permission">-</a>)
														        {% endfor %}
														    {% endif %}
										        			<a class="add-box" href="javascript:window.open('/New Message/Permission/{{log_no}}', 'New Permission Message', 'width=800,height=500');" title="add new permission">Add</a>
										        		</div>
										        	</td>
										        {% else %}
											       	<td style="padding-bottom:7px; width:70vw;">
	                									<input style="width: 90%; text-align:left;" type="text" name="{{msg}}" value="{{result[msg]}}" />
											        </td>
										        {% endif %}
										        <td style="width:1px;"></td><td style="width:1px;"></td>
										    </tr>
										{% endfor %}
									</tbody>
							    </table>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td style="padding-bottom: 7px;">
							<fieldset>
				        		<legend>Remarks of Duty</legend>
				        		<div id="remarks">
									<textarea name="remarks">{{('\n'.join(result['remarks']))}}</textarea>
								</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td style="padding-bottom: 7px;">
							<fieldset>
				        		<legend>Attachments</legend>
				        		{% if result['attachments'] and result['attachments']['title']|length %}
				        			<table>
				        				{% for i in range(result['attachments']['title']|length) %}
				        					<tbody style="height: 7vh;">
				        						<tr>
				        							<td style="padding-bottom: 0;">
				        								<span>{{result['attachments']['title'][i]+'.'+result['attachments']['attached_file_type'][i]}}</span>
				        							</td>
				        							<td style="padding-bottom: 0;">
				        								<a href="{{attachments[i]}}" target="_blank"><span style="color: blue;">show attached file</span></a>
				        							</td>
				        						</tr>
			        						</tbody>
			        					{% endfor %}
			        				</table>
			        			{% endif %}
				        		<div style="text-align: left;" id="attachments1">
				        			<input style="text-transform:none;" type="text" name="title_1" placeholder="Title"/>
									<input type="file" name="attachments_1" />
						            <a href="javascript:addAttachmentFile('attachments1','del')" title="delete" class="add-box" style="padding: 3px 7px; color: red;"> - </a>
						            <a href="javascript:addAttachmentFile('attachments1', 'add')" title="add new" class="add-box" style="padding: 3px 7px;"> + </a>
								</div>
							</fieldset>
						</td>
					</tr>
					<tr>
						<td style="padding-bottom: 7px;">
							<fieldset class="signature">
								<legend>Signature</legend>
								<figure id="signature">
									{% if result['signature_path'] %}
										{% for sign in result['signature_path'] %}
											<img src="{{ sign }}" width="100" height="100" />
										{% endfor %}
									{% else %}
										<img src="{{ session['signature_path'] }}" width="100" height="100" />
									{% endif %}
								</figure>
							</fieldset>
						</td>
					</tr>
				</tbody>
			</table>
			<div style="margin:12px 0 0 15px;">
				<input style="text-transform: none;" type="submit" value="Save" /> 
			</div>
		</form>
	</section>
</div>

<script type="text/javascript">
	var i=1;
	var i_list = ["attachments1"];
	function addAttachmentFile(id_name, action) {
	    var original = document.getElementById(id_name);
		var clone = original.cloneNode(true); // "deep" clone
		if (action == 'add'){
			clone.id = "attachments" + ++i;
			i_list.push(clone.id);
			var title = "title_"+id_name.substring(11, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(title, "title_"+i);
			var attachments = "attachments_"+id_name.substring(11, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(attachments, "attachments_"+i);
			clone.innerHTML = clone.innerHTML.replace(id_name, clone.id);
			var str = "attachments"+id_name.substring(11, id_name.length);
			clone.innerHTML = clone.innerHTML.replace(str, "attachments"+i);
			original.parentNode.appendChild(clone);
		} else {
			if (i_list.length > 1) {
				original.parentNode.removeChild(original);
				i_list.splice(i_list.indexOf(id_name), 1);
			}
		}

	}
</script>