<fieldset style="font-size: 13.5px;">
	<legend style="text-align: left; font-size: 15px; font-weight: bold;">Shift Brief</legend>
	<table id="duty-info">
		<tr>
			<th>
				<span>Airport:</span>
			</th>
			<td>
				<span>OICC</span>
			</td>
		</tr>
		<tr>
			<th>
				<span>UTC Date:</span>
			</th>
			<td>
				<span>{{log_records_list[0]}}</span>
			</td>
		</tr>
		<tr>
			<th>
				<span>LCL Date:</span>
			</th>
			<td>
				<span>{{log_records_list[1]}}</span>
			</td>
		</tr>
		<tr>
			<th>
				<span>Hand Over To:</span>
			</th>
			<td>
				<span>{{log_records_list[2]}}</span>
			</td>	
		</tr>
		<tr>
			<th>
				<span>Present Members:</span>
			</th>
			<td>
				<span style="font-size:10px;">{{log_records_list[3]}}</span>
			</td>	
		</tr>
		<tr>
			<th>
				<span>Team NO:</span>
			</th>
			<td>
				<span>{{log_records_list[4]}}</span>
			</td>	
		</tr>
		<tr>
			<th>
				<span>Week Day:</span>
			</th>
			<td>
				<span>{{log_records_list[5]}}</span>
			</td>	
		</tr>
		<tr>
			<th>
				<span>Day/Night:</span>
			</th>
			<td>
				<span>{{log_records_list[6]}}</span>
			</td>
		</tr>
		<tr>
			<th>
				<span>RWY In Use:</span>
			</th>
			<td>
				<span>{{log_records_list[7]}}</span>
			</td>	
		</tr>
	</table>
</fieldset>