<div id="login-form">
  <section>
    <form method="POST" action="">
      <fieldset>
        <legend>Change password</legend>
        <div>         
          <label for="username">Current Password</label>
          <input id="current_pass" type="password" name="current_pass" required />
        </div>

        <div>
          <label for="password">New Password</label>
          <input id="password" type="password" name="password" required />
        </div>

        <div>
          <label for="confirm">Confirm</label>
          <input id="confirm" type="password" name="confirm" required />
        </div>
      </fieldset>

      <div>
        <input type="submit" value="Submit" />
      </div>      
    </form>
  </section>
</div>