<div>
  <main>
    <div id="login-form">
      <section>
        <form method="POST" action="">
          <fieldset>
            <legend>Please sign in</legend>
            <div>         
              <label for="username">Username</label>
              <input id="username" type="text" name="username" placeholder="e.g. John" required />
            </div>

            <div>
              <label for="password">Password</label>
              <input id="password" type="password" name="password" required />
            </div>
          </fieldset>

          <div>
            <input type="submit" value="Login" /> 
          </div>      
        </form>
      </section>
    </div>
  </main>
</div>