<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Airport WEB APP</title>
        <meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
        <meta name="description" content="Airport WEB APP" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="/static/img/icon/atc favicon.png"/>
    </head>

    <body>
    	<div id="login-form">
			<fieldset style="height: 90vh;">
				<legend>Requested Message:</legend>
				<div id="new-message">
					<textarea name="new-message" style="width:100%; height:85vh; color:black; font-size:18px;">{{msg}}</textarea>
				</div>
			</fieldset>
		</div>
    </body>
</html>