{% if not result_list|length %}
	<div id="logdata-form">
		<section id="freeze-fieldset">
			<form method="POST" action="">
				<fieldset id="search-field" style="min-height: 160px; max-height: 375px;">
					<legend>Please Choose Search Field:</legend>
		    		<table id="freeze-table">
		    			<thead>
		            		<tr style="background: yellow; border: none;">
		            			<th style="width:100px;">			            			         
					             	<span>Search Field</span>
						        </th>
						        <td style="width:600px;">
					            	<select name="search_field" id="search_field" onchange="searchFieldFunction('search_field')" required>
										<option value="" disabled selected>(select one)</option>
										<option value="AMHS Logs">AMHS Logs</option>
										<option value="IT Logs">IT Logs</option>
									</select>
						        </td>
						    </tr>
					    </thead>
					    <tbody id="amhs-logs-field" style="display: none; border: none; margin-top: 15px;">
							<tr>
								<th style="width: 250px;">
									<label>Initial</label>
								</th>
								<th style="width: 250px;">
									<label>Shift</label>
								</th>
								<th style="width: 250px;">
									<span>From</span><span style="color: red;">*</span>
								</th>
								<th style="width: 250px;">
									<span>To</span><span style="color: red;">*</span>
								</th>
								<th style="width: 250px;">
									<label>Remark</label>
								</th>
							</tr>
							<tr>
								<td>
									<select name="initial" id="initial">
										<option value="" disabled selected>(select one)</option>
										{% for initial in AICT_initial %}
											<option value="{{initial}}">{{initial}}</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<select name="shift" id="shift">
										<option value="">(day/night)</option>
										<option value="Day">Day</option>
										<option value="Night">Night</option>
									</select>
								</td>
								<td>
									<input type="date" name="from" />
								</td>
								<td>
									<input type="date" name="to" />
								</td>
								<td>
									<input type="text" style="text-transform:none;" name="remark" size="15" placeholder="search in remarks" />
								</td>
							</tr>
						</tbody>
						<tbody id="it-logs-field" style="display: none; border: none; margin-top: 15px;">
							<tr>
								<th style="width: 250px;">
									<label>Name</label>
								</th>
								<th style="width: 250px;">
									<span>From</span><span style="color: red;">*</span>
								</th>
								<th style="width: 250px;">
									<span>To</span><span style="color: red;">*</span>
								</th>
								<th style="width: 250px;">
									<label>Remark</label>
								</th>
							</tr>
							<tr>
								<td>
									<select name="name" id="name">
										<option value="" disabled selected>(select one)</option>
										{% for name in AICT_personel %}
											<option value="{{name}}">{{name}}</option>
										{% endfor %}
									</select>
								</td>
								<td>
									<input type="date" name="i_from" />
								</td>
								<td>
									<input type="date" name="i_to" />
								</td>
								<td>
									<input type="text" style="text-transform:none;" name="i_remark" size="15" placeholder="search in remarks"/>
								</td>
							</tr>
						</tbody>
				    </table>
				</fieldset>
				<div>
					<input style="text-transform: none;" type="submit" value="Search" />
				</div>
			</form>
		</section>
	</div>
{% else %}
	{% if search_field == 'AMHS Logs' %}
		<fieldset style="min-height: 160px; background: #fefefe;">
			<legend style="font-weight: bold;">Search Result:</legend>
    		<table id="freeze">
    			<thead>
            		<tr style="background: yellow; border: none;">
						<th>
							<span>No</span>
						</th>
						<th style="width: 15vw;">
							<span>On-Duty</span>
						</th>
						<th>
							<span>Shift</span>
						</th>
						<th style="width: 20vw;">
							<span>Date</span>
						</th>
						<th>
							<span>CK</span>
						</th>
					</tr>
			    </thead>
			    <tbody style="border: none; margin-top: 0;">
			    	{% for r in result_list %}
						<tr class="rows">
							<td>
								<span>{{r[0]}}</span>
							</td>
							<td style="width: 15vw;">
								<span>{{r[1]}}</span>
							</td>
							<td>
								<span>{{r[2]}}</span>
							</td>
							<td style="width: 20vw;">
								<a href="/amhs logs/{{r[4]}}" title="open log" target="_blank"><span  style="color:blue">{{r[3]}}</span></a>
							</td>
							<td>
								<span style="color: red;">{{r[5]}}</span>
							</td>
						</tr>
					{% endfor %}
				</tbody>
		    </table>
		</fieldset>
	{% elif search_field == 'IT Logs' %}
		<fieldset style="min-height: 160px; background: #fefefe;">
			<legend style="font-weight: bold;">Search Result:</legend>
    		<table id="freeze">
    			<thead>
            		<tr style="background: yellow; border: none;">
						<th>
							<span>No</span>
						</th>
						<th style="width: 30vw;">
							<span>Present Members</span>
						</th>
						<th style="width: 20vw;">
							<span>Date</span>
						</th>
						<th>
							<span>CK</span>
						</th>
					</tr>
			    </thead>
			    <tbody style="border: none; margin-top: 0;">
			    	{% for r in result_list %}
						<tr class="rows">
							<td>
								<span>{{r[0]}}</span>
							</td>
							<td style="width: 30vw;">
								<span>{{r[1]}}</span>
							</td>
							<td style="width: 20vw;">
								<a href="/it logs/{{r[3]}}/all" title="open log" target="_blank"><span  style="color:blue">{{r[2]}}</span></a>
							</td>
							<td>
								<span style="color: red;">{{r[4]}}</span>
							</td>
						</tr>
					{% endfor %}
				</tbody>
		    </table>
		</fieldset>
	{% endif %}
{% endif %}

<script type="text/javascript">
	function searchFieldFunction(field) {
		var x = document.getElementById(field).value;
		amhs_logs = document.getElementById("amhs-logs-field");
		it_logs = document.getElementById("it-logs-field");
		if (x == 'AMHS Logs') {
			amhs_logs.style.display = "block";
			it_logs.style.display = "none";
		} else if (x == 'IT Logs') {
			amhs_logs.style.display = "none";
			it_logs.style.display = "block";
		} else {
			amhs_logs.style.display = "none";
			it_logs.style.display = "none";
		}
	}
</script>