<div id="tab">
	<a href="/statistics/IRA" class="button" style="margin-left: 7px;">IRA</a>
	<a href="/statistics/IRC" class="button">IRC</a>
	<a href="/statistics/IRB" class="button">IRB</a>
	<a href="/statistics/KIS" class="button">KIS</a>
	<a href="/statistics/CPN" class="button">CPN</a>
	<a href="/statistics/QSM" class="button">QSM</a>
	<a href="/statistics/TBZ" class="button">TBZ</a>
	<a href="/statistics/TBN" class="button">TBN</a>
	<a href="/statistics/IZG" class="button">IZG</a>
	<a href="/statistics/KRU" class="button">KRU</a>
	<a href="/statistics/Other" class="button">Other Airlines</a>
	<a href="/statistics/Military" class="button">Military</a>
</div>