<div id="logdata-form">
	<form method="POST" action="">
		<fieldset style="background: #fefefe; height:70vh;">
			<legend style="font-weight: bold;">User Roles</legend>
    		<table id="freeze" style="font-size: 14px;">
    			<thead>
            		<tr style="background: yellow; border: none;">
						<th style="width: 12vw;">
							<span>Name</span>
						</th>
						<th>
							<span>Username</span>
						</th>
						<th style="width: 7vw;">
							<span>Initial</span>
						</th>
						<th colspan="3" style="width: 20vw;">
							<span>Roles</span>
						</th>
						<th>
							<span>Reset Password</span>
						</th>
					</tr>
			    </thead>
			    <tbody style="margin-top: 0; height: 62vh;">
			    	{% for r in result %}
				    	<tr class="rows">
							<td style="width: 15vw;">
								<span>{{r[0]}} {{r[1]}}</span>
							</td>
							<td>
								<span>{{r[2]}}</span>
							</td>
							<td>
								<span>{{r[3]}}</span>
							</td>
							{% if r[2] == session['username'] %}
								<td style="width: 7vw;">
									Admin <input type="checkbox" name="{{r[2]}}_user_roles" value="admin" {% if r[4] %}checked{% endif %} disabled="disabled" />
									<input type="hidden" name="{{r[2]}}_user_roles" value="admin" />
								</td>
							{% else %}
								<td style="width: 7vw;">
									Admin <input type="checkbox" name="{{r[2]}}_user_roles" value="admin" {% if r[4] %}checked{% endif %}/>
								</td>
							{% endif %}
							<td style="width: 7vw;">
								AMHS User<input type="checkbox" name="{{r[2]}}_user_roles" value="amhs" {% if r[5] %}checked{% endif %}/>
							</td>
							<td style="width: 7vw;">
								IT User<input type="checkbox" name="{{r[2]}}_user_roles" value="it" {% if r[6] %}checked{% endif %}/>
							</td>
							<td>
								<a href="/reset-password/{{r[2]}}" class="button" title="reset password to '123'">reset</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</fieldset>
		<div style="margin:12px 0 0 15px;">
			<input style="text-transform: none;" type="submit" value="Save" /> 
		</div>
	</form>
</div>