{% extends 'layout.html' %}

{% block body %}
	<div class="container">
		<main>
			<div class="leftpane card">
				<div class="navigator">
					<span>Navigator</span>
				</div>
				{% if session['department'] == 'Air Traffic Management' %}
					{% include 'includes/_atcLeftpaneIndex.html' %}
				{% elif session['department'] == 'Aeronautical Information and Communication Technology' %}
					{% include 'includes/_amhsLeftpaneIndex.html' %}
				{% endif %}
			</div>
			<div class="middlepane card" id="flight-schedule">
				<div class="navigator">
					<span>Work in Progress</span>
				</div>
				{% include 'includes/_messages.html' %}
				{% if navigator == "login" %}
					{% include 'includes/_login.html' %}
				{% elif navigator == "register" %}
					{% include 'includes/_register.html' %}
				{% elif navigator == "change password" %}
					{% include 'includes/_changePassword.html' %}
				{% elif navigator == "search" %}
					{% include 'includes/_search.html' %}
				{% elif navigator == "team" %}
					{% include 'includes/_team.html' %}
				{% elif navigator == "user-rules" %}
					{% include 'includes/_userRules.html' %}
				{% elif navigator == "amhs log form" %}
					{% include 'includes/_amhsLogForm.html' %}
				{% elif navigator == "amhs logs" %}
					{% include 'includes/_amhsLogs.html' %}
				{% elif navigator == "edit amhs logs" %}
					{% include 'includes/_editAmhsLog.html' %}
				{% elif navigator == "it log form" %}
					{% include 'includes/it forms/_onDuty.html' %}
				{% elif navigator == "it logs" %}
					{% include 'includes/it forms/_itLogs.html' %}
				{% elif navigator == "duty" %}
					{% include 'includes/_duty.html' %}
				{% elif navigator == "log data" %}
					{% include 'includes/_logData.html' %}
				{% elif navigator == "filled log data" %}
					{% include 'includes/_filledLogData.html' %}
				{% elif navigator == "logs" %}
					{% include 'includes/_logs.html' %}
				{% elif navigator == "logs edit" %}
					{% include 'includes/_editLog.html' %}
				{% elif navigator == "other forms" %}
					{% include 'includes/_otherForms.html' %}				
				{% elif navigator == "map" %}
					{% include '/map.html' %}
				{% elif navigator == "flight-schedule" %}
					{% include 'includes/_flightSchedule.html' %}
				{% elif navigator == "flight-schedule-data" %}
					{% include 'includes/_flightScheduleData.html' %}
				{% elif navigator == "flight-form" %}
					{% include 'includes/_flightForm.html' %}
				{% elif navigator == "statistics" %}
					{% include 'includes/_tab.html' %}
					{% include 'includes/_statistics.html' %}
				{% elif navigator == "fids" %}
					{% include 'includes/_fids.html' %}
				{% endif %}
			</div>
			<div class="rightpane card" >
				<div class="navigator">
					<span>Information</span>
				</div>
				{% include 'includes/_logo.html' %}
				{% if session['department'] == 'Air Traffic Management' %}
					{% include 'includes/_atcInformation.html' %}
				{% elif session['department'] == 'Aeronautical Information and Communication Technology' %}
					{% include 'includes/_aictInformation.html' %}
				{% endif %}
				{% if session['metar'] %}
					{% include 'includes/_metar.html' %}
				{% endif %}
			</div>
		</main>
	</div>
{% endblock %}